---
import Layout from '../../../layouts/Layout.astro'

import { promises as fs } from 'fs'
import path from 'path'
import { getLangFromUrl, useTranslations } from '../../../i18n/utils'
import type { Component } from '../../../lib/interfaces/Component'
import ComponentItem from '../../../components/pages/components/ComponentItem.astro'

export const getStaticPaths = async () => {
  const componentsDir = path.join(process.cwd(), 'src', 'lib', 'components')
  const files = await fs.readdir(componentsDir)
  const components = files.map((file) => file.replace('.ts', ''))
  return components.map((component) => ({ params: { component } }))
}

const { component } = Astro.params

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const componentData = await import(`../../../lib/components/${component}.ts`)
---

<Layout title={`o3UI - ${component}`}>
  <main class="px-4 mt-10">
    <div>
      <h1 class="text-feature-text font-extrabold text-2xl capitalize">
        {t(`components.${component}.name` as any)}
      </h1>
      <p class="text-text mt-2">
        {t(`components.${component}.description` as any)}
      </p>
    </div>

    <div class="mt-12">
      {
        (componentData.default as Component[]).map((component) => (
          <ComponentItem data={component} />
        ))
      }
    </div>
  </main>
</Layout>
